In [ ]:
import os
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="whitegrid")
DATA_PATH = Path("../data/Motor_Vehicle_Collisions_-_Crashes.csv")

In [17]:
print("Exists:", DATA_PATH.exists())
print("Size (MB):", DATA_PATH.stat().st_size / 1_048_576)
print(DATA_PATH)

Exists: True
Size (MB): 441.64294052124023
..\data\Motor_Vehicle_Collisions_-_Crashes.csv

In [18]:
df = pd.read_csv(DATA_PATH)
print(df)

C:\Users\trist\AppData\Local\Temp\ipykernel_9444\201700135.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(DATA_PATH)

         CRASH DATE CRASH TIME        BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
0        09/11/2021       2:39            NaN      NaN        NaN        NaN
1        03/26/2022      11:45            NaN      NaN        NaN        NaN
2        11/01/2023       1:29       BROOKLYN  11230.0  40.621790 -73.970024
3        06/29/2022       6:55            NaN      NaN        NaN        NaN
4        09/21/2022      13:21            NaN      NaN        NaN        NaN
...             ...        ...            ...      ...        ...        ...
2196749  08/05/2025      18:55  STATEN ISLAND  10314.0  40.606860 -74.115790
2196750  08/05/2025       6:30            NaN      NaN  40.743477 -73.732860
2196751  08/05/2025      11:14            NaN      NaN  40.786358 -73.794685
2196752  08/05/2025      11:28       BROOKLYN  11226.0  40.652645 -73.949770
2196753  08/05/2025      17:18            NaN      NaN  40.835484 -73.949400

                        LOCATION           ON STREET NAME CROSS STREET NAME  \
0                            NaN    WHITESTONE EXPRESSWAY         20 AVENUE
1                            NaN  QUEENSBORO BRIDGE UPPER               NaN
2         (40.62179, -73.970024)            OCEAN PARKWAY          AVENUE K
3                            NaN       THROGS NECK BRIDGE               NaN
4                            NaN          BROOKLYN BRIDGE               NaN
...                          ...                      ...               ...
2196749    (40.60686, -74.11579)             TODT HILL RD         FINE BLVD
2196750   (40.743477, -73.73286)       GRAND CENTRAL PKWY               NaN
2196751  (40.786358, -73.794685)     CROSS ISLAND PARKWAY               NaN
2196752   (40.652645, -73.94977)             NOSTRAND AVE       LINDEN BLVD
2196753    (40.835484, -73.9494)     HENRY HUDSON PARKWAY               NaN

        OFF STREET NAME  ...  CONTRIBUTING FACTOR VEHICLE 2  \
0                   NaN  ...                    Unspecified
1                   NaN  ...                            NaN
2                   NaN  ...                    Unspecified
3                   NaN  ...                    Unspecified
4                   NaN  ...                    Unspecified
...                 ...  ...                            ...
2196749             NaN  ...                    Unspecified
2196750             NaN  ...                    Unspecified
2196751             NaN  ...                    Unspecified
2196752             NaN  ...                            NaN
2196753             NaN  ...                    Unspecified

         CONTRIBUTING FACTOR VEHICLE 3  CONTRIBUTING FACTOR VEHICLE 4  \
0                                  NaN                            NaN
1                                  NaN                            NaN
2                          Unspecified                            NaN
3                                  NaN                            NaN
4                                  NaN                            NaN
...                                ...                            ...
2196749                            NaN                            NaN
2196750                            NaN                            NaN
2196751                    Unspecified                            NaN
2196752                            NaN                            NaN
2196753                            NaN                            NaN

         CONTRIBUTING FACTOR VEHICLE 5  COLLISION_ID  \
0                                  NaN       4455765
1                                  NaN       4513547
2                                  NaN       4675373
3                                  NaN       4541903
4                                  NaN       4566131
...                                ...           ...
2196749                            NaN       4833195
2196750                            NaN       4833298
2196751                            NaN       4833329
2196752                            NaN       4833168
2196753                            NaN       4833234

                         VEHICLE TYPE CODE 1  \
0                                      Sedan
1                                      Sedan
2                                      Moped
3                                      Sedan
4        Station Wagon/Sport Utility Vehicle
...                                      ...
2196749  Station Wagon/Sport Utility Vehicle
2196750  Station Wagon/Sport Utility Vehicle
2196751                                Sedan
2196752                                Sedan
2196753                                Sedan

                         VEHICLE TYPE CODE 2  VEHICLE TYPE CODE 3  \
0                                      Sedan                  NaN
1                                        NaN                  NaN
2                                      Sedan                Sedan
3                              Pick-up Truck                  NaN
4                                        NaN                  NaN
...                                      ...                  ...
2196749  Station Wagon/Sport Utility Vehicle                  NaN
2196750  Station Wagon/Sport Utility Vehicle                  NaN
2196751                                Sedan        Pick-up Truck
2196752                                Sedan                  NaN
2196753                                Sedan                  NaN

        VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0                       NaN                 NaN
1                       NaN                 NaN
2                       NaN                 NaN
3                       NaN                 NaN
4                       NaN                 NaN
...                     ...                 ...
2196749                 NaN                 NaN
2196750                 NaN                 NaN
2196751                 NaN                 NaN
2196752                 NaN                 NaN
2196753                 NaN                 NaN

[2196754 rows x 29 columns]